
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-size: cover;
    background-color: #000000;
    padding: 20px auto;
    background: url("imagenes/imagenes/bannerproductos.jpeg") center ;
}

.bannerbarbershop{
    display: inline-block;
    width: 50%;
    height: 200px;
    position: absolute;
    margin: 2% 20%;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 40px;
}

nav {
    position: fixed;
    top: 3px;
    right: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.productos {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #cccccc;*/
    margin: 0 1.0%;
    box-sizing: border-box;
    padding: 28px 20px;
    border: 1px solid black;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 4px 4px 18px 1px black;
}

.productos li:hover {
    border-color: #c78c19;
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagenes/imagenes/bg.jpg");
    padding: 40px;
}

.copyrigth {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


form {
    margin: 40px 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 40px 40px;

}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


/* CSS para pagina HOME */


.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.principal p {
    margin: 0 0 1em;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utencilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    box-shadow: 3px 3px 30px 5px #000000;
}


.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;

}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
}

.diferenciales {
    padding: 3em 0;
    background: #888888;
    /*box-shadow: inset 0 0 30px black;*/
}

.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 1.5;
}

.items:before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}

.imagen-diferenciales {
    width: 60%;
    box-shadow: 10px 10px 30px 15px #000000;
    transition: 400ms;
}

.imagen-diferenciales:hover {
    opacity: 75%;
}

.video {
    width: 560px;
    margin: 3em auto;
    box-shadow: 5px 5px 40px 20px #000000;
    transition: 400ms;
}

.video:hover {
    opacity: 90%;
}

@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }

    .lista-diferenciales, .imagen-diferenciales, .enviar {
        width: 100%;
    }


    .principal{
        padding: 3%;

    }

    header{
        background-size: cover;
    }
    .bannerbarbershop{
        width:auto%;
        height: auto;
        position:relative;
        vertical-align: baseline;
        text-align: center;
    }

    .productos{
        width: auto;
        font-size: 10px;
    }
    .productos li {
        display: block;
        width: auto;
        margin: 5px 0 5px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px 1px #252323, inset 0 0 30px black;
        border: none;
    }
    li img {
        width: 50%;
        height: 50%;
    }



    body{
        background: linear-gradient(black,#888888, black, #FFFFFF) ;
    }
    form{
        background: rgba(255, 255, 255, 0.2);
        padding: 5px 5px;
        backdrop-filter: blur(50px);
        border-radius: 5px 5px 5px 5px;
    }
    label{
        color: #FFFFFF;
    }
    input{
        border: none;
    }

    .input-padron {
        width:80%;
        background: #cccccc;
    }


    table{
        width: 80%;
        color: #FFFFFF;
    }
}
